.artifacts-row
	.artifact
		.artifact__backdrop.--type-5
		.artifact__image 
			img(src="./assets/img/artifacts/jetpack.png", alt="")
	.artifact
		.artifact__backdrop.--type-6
		.artifact__image 
			img(src="./assets/img/artifacts/molecule.png", alt="")
	.artifact
		.artifact__backdrop.--type-6
		.artifact__image 
			img(src="./assets/img/artifacts/binoculars.png", alt="")
	.artifact
		.artifact__backdrop.--type-7
		.artifact__image 
			img(src="./assets/img/artifacts/crystal.png", alt="")
	.artifact
		.artifact__backdrop.--type-8
		.artifact__image 
			img(src="./assets/img/artifacts/molecule.png", alt="")
	.artifact
		.artifact__backdrop.--type-5
		.artifact__image 
			img(src="./assets/img/artifacts/rocket.png", alt="")
	.artifact
		.artifact__backdrop.--type-7
		.artifact__image 
			img(src="./assets/img/artifacts/badge.png", alt="")
	.artifact
		.artifact__backdrop.--type-5
		.artifact__image 
			img(src="./assets/img/artifacts/rocket.png", alt="")
	.artifact
		.artifact__backdrop.--type-8
		.artifact__image 
			img(src="./assets/img/artifacts/molecule.png", alt="")
	.artifact
		.artifact__backdrop.--type-1
		.artifact__image 
			img(src="./assets/img/artifacts/badge.png", alt="")
	
.artifacts-row
	.artifact
		.artifact__backdrop.--type-8
		.artifact__image 
			img(src="./assets/img/artifacts/molecule.png", alt="")
	.artifact
		.artifact__backdrop.--type-7
		.artifact__image 
			img(src="./assets/img/artifacts/crystal.png", alt="")
	.artifact
		.artifact__backdrop.--type-6
		.artifact__image 
			img(src="./assets/img/artifacts/molecule.png", alt="")
	.artifact
		.artifact__backdrop.--type-5
		.artifact__image 
			img(src="./assets/img/artifacts/badge.png", alt="")
	.artifact
		.artifact__backdrop.--type-5
		.artifact__image 
			img(src="./assets/img/artifacts/rocket.png", alt="")
	.artifact
		.artifact__backdrop.--type-8
		.artifact__image 
			img(src="./assets/img/artifacts/crystal.png", alt="")
	.artifact
		.artifact__backdrop.--type-7
		.artifact__image 
			img(src="./assets/img/artifacts/badge.png", alt="")
	.artifact
		.artifact__backdrop.--type-8
		.artifact__image 
			img(src="./assets/img/artifacts/jetpack.png", alt="")
	.artifact
		.artifact__backdrop.--type-6
		.artifact__image 
			img(src="./assets/img/artifacts/jetpack.png", alt="")
	.artifact
		.artifact__backdrop.--type-7
		.artifact__image 
			img(src="./assets/img/artifacts/crystal.png", alt="")
.artifacts-row
	.artifact
		.artifact__backdrop.--type-3
		.artifact__image 
			img(src="./assets/img/artifacts/rocket.png", alt="")
	.artifact
		.artifact__backdrop.--type-3
		.artifact__image 
			img(src="./assets/img/artifacts/rocket.png", alt="")
	.artifact
		.artifact__backdrop.--type-4
		.artifact__image 
			img(src="./assets/img/artifacts/jetpack.png", alt="")
	.artifact
		.artifact__backdrop.--type-1
		.artifact__image 
			img(src="./assets/img/artifacts/crystal.png", alt="")
	.artifact
		.artifact__backdrop.--type-3
		.artifact__image 
			img(src="./assets/img/artifacts/rocket.png", alt="")
	.artifact
		.artifact__backdrop.--type-2
		.artifact__image 
			img(src="./assets/img/artifacts/badge.png", alt="")
	.artifact
		.artifact__backdrop.--type-4
		.artifact__image 
			img(src="./assets/img/artifacts/rocket.png", alt="")
	.artifact
		.artifact__backdrop.--type-1
		.artifact__image 
			img(src="./assets/img/artifacts/molecule.png", alt="")
	.artifact
		.artifact__backdrop.--type-2
		.artifact__image 
			img(src="./assets/img/artifacts/badge.png", alt="")
	.artifact
		.artifact__backdrop.--type-2
		.artifact__image 
			img(src="./assets/img/artifacts/molecule.png", alt="")
.artifacts-row
	.artifact
		.artifact__backdrop.--type-1
		.artifact__image 
			img(src="./assets/img/artifacts/crystal.png", alt="")
	.artifact
		.artifact__backdrop.--type-4
		.artifact__image 
			img(src="./assets/img/artifacts/molecule.png", alt="")
	.artifact
		.artifact__backdrop.--type-1
		.artifact__image 
			img(src="./assets/img/artifacts/crystal.png", alt="")
	.artifact
		.artifact__backdrop.--type-4
		.artifact__image 
			img(src="./assets/img/artifacts/badge.png", alt="")
	.artifact
		.artifact__backdrop.--type-2
		.artifact__image 
			img(src="./assets/img/artifacts/binoculars.png", alt="")
	.artifact
		.artifact__backdrop.--type-3
		.artifact__image 
			img(src="./assets/img/artifacts/badge.png", alt="")
	.artifact
		.artifact__backdrop.--type-2
		.artifact__image 
			img(src="./assets/img/artifacts/rocket.png", alt="")
	.artifact
		.artifact__backdrop.--type-1
		.artifact__image 
			img(src="./assets/img/artifacts/badge.png", alt="")
	.artifact
		.artifact__backdrop.--type-3
		.artifact__image 
			img(src="./assets/img/artifacts/binoculars.png", alt="")
	.artifact
		.artifact__backdrop.--type-4
		.artifact__image 
			img(src="./assets/img/artifacts/molecule.png", alt="")
.artifacts-row
	.artifact
		.artifact__backdrop.--type-5
		.artifact__image 
			img(src="./assets/img/artifacts/crystal.png", alt="")
	.artifact
		.artifact__backdrop.--type-6
		.artifact__image 
			img(src="./assets/img/artifacts/badge.png", alt="")
	.artifact
		.artifact__backdrop.--type-8
		.artifact__image 
			img(src="./assets/img/artifacts/jetpack.png", alt="")
	.artifact
		.artifact__backdrop.--type-7
		.artifact__image 
			img(src="./assets/img/artifacts/badge.png", alt="")
	.artifact
		.artifact__backdrop.--type-8
		.artifact__image 
			img(src="./assets/img/artifacts/crystal.png", alt="")
	.artifact
		.artifact__backdrop.--type-5
		.artifact__image 
			img(src="./assets/img/artifacts/binoculars.png", alt="")
	.artifact
		.artifact__backdrop.--type-6
		.artifact__image 
			img(src="./assets/img/artifacts/jetpack.png", alt="")
	.artifact
		.artifact__backdrop.--type-7
		.artifact__image 
			img(src="./assets/img/artifacts/binoculars.png", alt="")
	.artifact
		.artifact__backdrop.--type-5
		.artifact__image 
			img(src="./assets/img/artifacts/rocket.png", alt="")
	.artifact
		.artifact__backdrop.--type-6
		.artifact__image 
			img(src="./assets/img/artifacts/badge.png", alt="")
	
